full/atom-mapping/USPTO_remapped-selected/full_mapped.json filter=lfs diff=lfs merge=lfs -text
full/no-mapping/full1_reactions.json filter=lfs diff=lfs merge=lfs -text
full/no-mapping/full2_reactions.json filter=lfs diff=lfs merge=lfs -text
